<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-secondary" (click)="onDarkMode()" id="btn-darkmode">Dark Mode</button>
</div>
  
  

<div class="d-flex flex-column align-items-center">
    <label for="formFile">File</label>
    <input type="file" name="formFile" id="formFile" class="form-control w-50" accept ="video/mp4" [(ngModel)]="currentFile">
    <label for="formPlayerName">PlayerName</label>
    <input type="text" name="formPlayerName" id="forPlayerName" class="form-control w-50" [(ngModel)]="currentPlayerName" autocomplete="off">
    <br>
    <div class="d-flex justify-content-center">
        <button class="btn btn-success" (click)="onAddPlayer()">Add Player</button>
        <button class="btn btn-primary" (click)="onPreviousPlayer()">&lt;</button>
        <button class="btn btn-primary" (click)="onNextPlayer()">&gt;</button>
    </div>
</div>

<app-video-player *ngFor="let player of players" [playerName]="player.name" [file]="player.file"></app-video-player>